{
  "plugins": [ ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "classes": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "shared-node-browser": true
  },
  "globals": {
      "CSInterface": true
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-console": 0,
    "comma-dangle": 0,
    "max-len": [2, 200, 2],
    "new-cap": ["error", {"capIsNew": false}],
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "csinterface"
        ]
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0
  }
}
