
$background-alpha-lightest: rgba(255, 255, 255, 0.50);
$background-alpha-lighter: rgba(255, 255, 255, 0.25);
$background-alpha-light: rgba(255, 255, 255, 0.1);
$background-alpha-dark: rgba(0, 0, 0, 0.1);
$background-alpha-darker: rgba(0, 0, 0, 0.25);
$background-alpha-darkest: rgba(0, 0, 0, 0.50);
$background-alpha-shade: rgba(0, 0, 0, 0.85);

$impact-shadow-offset: 1px;
$impact-shadow-blur: 2px;
$impact-shadow-color-light: $background-alpha-dark;
$impact-shadow-color-dark: $background-alpha-darker;


body {
  margin: 0;
  padding: 0;
}

.coldwarm-body {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.coldwarm-grid-cell {
  cursor: pointer;
  display: inline-block;
  flex: 1 0 auto;
}

.coldwarm-left-panel {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  .coldwarm-grid-row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }
}

.coldwarm-right-panel {
  display: none;
  flex: 0 1 10%;
  flex-direction: column;
  margin-left: 5px;

  &.active {
    display: flex;
  }
}

.coldwarm-config-panel {
  background-color: $background-alpha-shade;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.active {
    display: inline-block;
  }

  .coldwarm-config {
    border: 2px solid $background-alpha-darker;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
  }

  .coldwarm-config-header {
    align-content: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;

    .coldwarm-config-header-title {
      flex: 1 0 auto;
    }

    .coldwarm-config-header-close {
      display: inline-block;
      flex: 0 0 auto;
      font-size: 10px;
      position: relative;
      right: 0;
    }

    h1 {
      display: inline-block;
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }

  .coldwarm-config-body {
    background-color: $background-alpha-dark;
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: auto;
    padding: 5px;
  }

  .coldwarm-config-number input {
    width: 3.5rem;
  }

  .coldwarm-config-option {
    box-sizing: border-box;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    padding-bottom: 3px;
    padding-top: 3px;

    &:nth-child(even) {
      background-color: $background-alpha-darker;
    }
  }

  .coldwarm-config-label-wrapper {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;

    label {
      display: inline-block;
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
  }

  .coldwarm-switch-wrapper {
    display: inline-block;
    flex: 1 1 auto;
  }


  .coldwarm-config-control {
    align-content: center;
    display: flex;
    flex: 0 0 140px;
    flex-direction: row;
    justify-content: center;
  }

  .coldwarm-config-defaults {
    font-size: 12px;
    justify-content: flex-end;
  }
}

.coldwarm-context-menu-wrapper {
  background-color: $background-alpha-darker;
  bottom: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.coldwarm-context-menu {
  border: 2px solid $background-alpha-darkest;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: all 0.25s;
  -webkit-user-select: none;
  user-select: none;
}

.coldwarm-context-menu-entry {
  background-color: transparent;
  border-bottom: 2px solid $background-alpha-darkest;
  padding: 5px 10px;
  transition: all 0.25s;

  &:hover {
    background-color: $background-alpha-lighter;
  }

  &:last-child {
    border-bottom: 0;
  }
}

// Topcoat Tweaks

.topcoat-switch {
  // background-color: $background-alpha-dark;
  border-color: $background-alpha-darkest;
}

.topcoat-switch__toggle::before,
.topcoat-switch__toggle::after {
  z-index: 2;
}


.topcoat-text-input {
  text-align: center;
}

// Light / Dark theme changes

.light-theme {
  .coldwarm-config-body {
    background-color: inherit;
  }

  .coldwarm-config-option:nth-child(even) {
    background-color: $background-alpha-dark;
  }

  .coldwarm-config-number input {
    background-color: $background-alpha-lighter;
    color: inherit;
  }
}

.dark-theme {
  .coldwarm-config-number input {
    color: $background-alpha-lightest;
    text-shadow: $impact-shadow-offset $impact-shadow-offset $impact-shadow-blur $impact-shadow-color-dark,
                 (-$impact-shadow-offset) $impact-shadow-offset $impact-shadow-blur $impact-shadow-color-dark,
                 $impact-shadow-offset (-$impact-shadow-offset) $impact-shadow-blur $impact-shadow-color-dark,
                 (-$impact-shadow-offset) (-$impact-shadow-offset) $impact-shadow-blur $impact-shadow-color-dark;
  }

  .topcoat-switch__toggle::before,
  .topcoat-switch__toggle::after {
    color: $background-alpha-lightest;
    text-shadow: $impact-shadow-offset $impact-shadow-offset $impact-shadow-blur $impact-shadow-color-dark,
                 (-$impact-shadow-offset) $impact-shadow-offset $impact-shadow-blur $impact-shadow-color-dark,
                 $impact-shadow-offset (-$impact-shadow-offset) $impact-shadow-blur $impact-shadow-color-dark,
                 (-$impact-shadow-offset) (-$impact-shadow-offset) $impact-shadow-blur $impact-shadow-color-dark;
  }
}
