
$background-alpha-lighter: rgba(255, 255, 255, 0.25);
$background-alpha-light: rgba(255, 255, 255, 0.1);
$background-alpha-dark: rgba(0, 0, 0, 0.1);
$background-alpha-darker: rgba(0, 0, 0, 0.25);
$background-alpha-darkest: rgba(0, 0, 0, 0.50);
$background-alpha-shade: rgba(0, 0, 0, 0.85);


body {
  margin: 0;
  padding: 0;
}

.coldwarm-body {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.coldwarm-left-panel,
.coldwarm-right-panel {
  display: flex;
}

.coldwarm-grid-cell {
  cursor: pointer;
  display: inline-block;
  flex: 1 0 auto;
}

.coldwarm-left-panel {
  flex: 1 0 auto;
  flex-direction: column;

  .coldwarm-grid-row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
  }
}

.coldwarm-right-panel {
  flex: 0 1 15%;
  flex-direction: column;
  margin-left: 5px;
}

.coldwarm-config-panel {
  background-color: $background-alpha-shade;
  bottom: 0;
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.active {
    display: inline-block;
  }

  .coldwarm-config {
    border: 2px solid $background-alpha-darker;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 100%;
  }

  .coldwarm-config-header {
    margin-bottom: 10px;
    text-align: center;

    h1 {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }

  .coldwarm-config-body {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .topcoat-switch {
    background-color: $background-alpha-dark;
    border-color: $background-alpha-darkest;
  }

  label {
    font-size: 12px;
  }
}
